@font-face {
  font-family: "Outline";
  font-style: normal;
  font-weight: normal;
  src: local("Outline"), url("assets/Outline.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Outline", sans-serif;
  height: 100vh;
  background: radial-gradient(circle, #6b0f9c, #000000);
}

.winner-msg {
  height: 80vmin;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(144, 19, 254, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 60px;
  animation-name: bounceIn;
  animation-duration: 450ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.winner-msg #msg {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: 400;
  padding: 0 4rem;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translate3d(0, 0, 0);
  }
  50% {
    opacity: 0.9;
    transform: scale(1.1);
  }
  80% {
    opacity: 1;
    transform: scale(0.89);
  }
  100% {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
}

#game-window {
  margin: 1rem 0;
  padding: 0.5rem 1.5rem;
  background: rgba(144, 19, 254, 0.25);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
}
#game-window #title {
  margin: 1rem 0;
  font-size: 6rem;
  font-weight: 500;
  color: #f5f5dc;
  padding-top: 20px;
}
#game-window .game-container {
  height: 65vmin;
  width: 60vmin;
  display: flex;
  justify-content: center;
  align-items: center;
}
#game-window .game-container .game {
  height: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.box {
  height: 18vmin;
  width: 18vmin;
  box-shadow: inset 0 0 10px rgba(1, 33, 51, 0.507);
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 5rem;
  font-weight: 600;
  background-color: transparent;
  color: white;
  opacity: 0.5;
  text-shadow: 0px 0px 10px rgb(68, 68, 68);
}
.Ouser {
  opacity: 1;
  text-shadow: 0px 0px 10px rgb(255, 115, 0);
}
.Xuser {
  opacity: 1;
  text-shadow: 0px 0px 10px rgb(179, 255, 0);
}

.game-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #f5f5dc;
  font-size: 2.5rem;
}

.game-footer span {
  opacity: 0.5;
  font-family: "Outline", sans-serif;
  font-size: 60px;
}

#reset-btn,
#start-btn {
  padding: 1rem;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.5rem;
  margin: 2rem 0;
  background-color: black;
  color: white;
}

.hide {
  display: none;
}

/* Background */
.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  color: white;
  font-size: larger;
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(720deg);
    opacity: 0;
    border-radius: 90%;
  }

  50% {
    opacity: 1;
    border-radius: 0%;
  }

  100% {
    transform: translateY(-1000px) rotate(0deg);
    opacity: 0;
    border-radius: 90%;
  }
}
